/* Charles Owens */
body {
    background-image: url("../images/bolt-background.png");
}
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
/* Changing the color of the profile and logo svgs */
.filter-purple {
    filter: invert(13%) sepia(98%) saturate(6809%) hue-rotate(273deg) brightness(94%) contrast(125%);
}
.filter-white {
    filter: invert(99%) sepia(0%) saturate(7490%) hue-rotate(114deg) brightness(102%) contrast(98%);
}
.logo-head{
    width: 175px;
    height: 175px;
    float: left;
    position: relative;
    margin: 0px 0px 0px 0px;
}
.profile{
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
    margin: 15px 15px 15px 10px;
}
.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    position:relative;
    width:100%;
    z-index:10;
    max-width:100%;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -40px;
    margin-right: auto;
    margin-left:auto;
}
.header ul{
    text-align: center;
    margin-right: 150px;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    padding: 25px;
    letter-spacing: 2px;
    transition: background-color 200ms;
}
.header ul li a:hover{
    background-color: blueviolet;
}
.container-2 {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.create-title {
    color: #8000FF;
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 111px;
    text-align: center;
}
.container-3 {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    background: linear-gradient(270deg, rgba(217, 0, 252, 0.2) 41.71%, rgba(128, 0, 255, 0.2) 54.4%);
    height: 208px;
    justify-content: center;
}
#output {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    height: 208px;
    justify-content: center;
}
.box-add-image {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-family: Arial Rounded MT Bold;
    margin-top: 65px;
    margin-bottom: 65px;
    width: 272px;
    height: 52px;
    background: rgba(196, 196, 196, 0.15);
    border-radius: 15px;

}
.box-add-image:hover {
    color: #8000FF;
    cursor: pointer;
}
.box-add-image > h3 {
    padding-top: 5px;
}
.container-4 {
    display: flex;
    flex-direction: row;
}
.members-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 10px;
}
.description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    flex: 1;
}
.add_members, .group_name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    width: 347px;
    height: 38px;

    background: rgba(119, 119, 119, 0.19);
    border-radius: 2px;
    border-color: transparent;
    margin-top: 10px;
}
.first_member, .second_member, .third_member, .fourth_member {
    color:#8000FF;
    font-family: 'Open Sans', sans-serif;
}
.container-5 {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin-top: 20px;
}
.purpose {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    width: 347px;
    height: 212px;

    background: rgba(119, 119, 119, 0.19);
    border-radius: 2px;
    border-color: transparent;
    margin-top: 20px;
    margin-bottom: 10px;

    text-indent: 4px;
}
.create {
    width: 212px;
    height: 42px;
    background: #8000FF;
    border-radius: 21px;
    border: none;
    margin-bottom: 10px;
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}
/* .logo-footer {
    width: 100px;
} */
/* .footer{
    margin-top: 50px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
} */
.footer{
	background-image: url("../images/bolt-background.png") ;
    padding: 70px 0;
    display: flex-row;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #8a1ee9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* .container-footer{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
} */
/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
a {
    text-decoration: none;
}