
.filter-purple {
  filter: invert(13%) sepia(98%) saturate(6809%) hue-rotate(273deg) brightness(94%) contrast(125%);
}

.filter-white {
  filter: invert(99%) sepia(0%) saturate(7490%) hue-rotate(114deg) brightness(102%) contrast(98%);
}

.logo-head{
  width: 175px;
  height: 175px;
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}
.profile{
  width: 50px;
  height: 50px;
  float: right;
  position: relative;
  margin: 25px 15px 15px 10px;
}
.header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position:absolute;
  width:100%;
  z-index:10;
  max-width:100%;
}
.header ul{
  text-align: center;
}
.header ul li{
  list-style: none;
  display: inline-block;
}
.header ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  padding: 25px;
  letter-spacing: 2px;
  transition: background-color 200ms;
}
.header ul li a:hover{
  background-color: blueviolet;
}



.home .carousel-item{
min-height: 100vh;
background-position: center;
background-size: cover;
position: relative;
z-index: 1;
}
.home .carousel-item:before{
content: '';
position: absolute;
left:0;
top:0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
z-index: -1;
}
.home .carousel-item .container{
position: absolute;
left: 50%;
top:50%;
transform: translate(-50%,-50%);
text-align: center;
}
.home .carousel-item h2{
font-size: 80px;
color: #ffffff;
margin:0 0 10px;
opacity: 0;
}
.home .carousel-item p{
font-size: 30px;
margin:0;
color: #eeeeee;
opacity:0;
}
.home .carousel-item.active h2{
animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p{
animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
0%{
  opacity: 0;
  transform: translateX(-30px);
}
100%{
  opacity: 1;
  transform: translateX(0px);
}
}
@keyframes fadeInRight{
0%{
  opacity: 0;
  transform: translateX(30px);
}
100%{
  opacity: 1;
  transform: translateX(0px);
}
}

.home .carousel-controls{
  color: #fff;
position: absolute;
left: 50%;
bottom: 40px;
z-index: 10;
transform: translateX(-50%);
}

.home .carousel-indicators{
position: relative;
margin:0;
}

.home .carousel-indicators li{
height: 70px;
width: 70px;
margin:0 5px;
border-radius: 50%;
background-position: center;
background-size: cover;
border:3px solid transparent;
transition: all 0.3s ease;
}
.home .carousel-indicators li.active{
border-color: #ffffff;
transform: scale(1.2);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
height: 60px;
width: 60px;
opacity: 1;
z-index: 3;
top: 50%;
transform: translateY(-50%);
border-radius: 50%;
transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
 box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
 width: 30px;
}
.home .carousel-control-next{
right: -90px;
}
.home .carousel-control-prev{
left: -90px;
}

/*responsive*/
@media(max-width: 767px){
.home .carousel-control-next,.home .carousel-control-prev{
  display: none;
}
.home .carousel-indicators li{
  height: 60px;
  width: 60px;
}
.home .carousel-item h2{
  font-size: 45px;
}
.home .carousel-item p{
  font-size: 22px;
}
}
a {
  text-decoration: none;
}
*{
box-sizing: border-box;
margin:0;
}
.card-img{
width: 500px;
  height: 500px;
  object-fit: cover;
vertical-align: middle;
}
.row{
display: flex;
flex-wrap: wrap;
}
.cards-container{
max-width: 70px;
margin:auto;
}

.flip-main{
min-height: 100vh;
background-color: #ffffff;
padding: 100px 0;
}
.flip-main .flip-card{
  flex:0 0 calc(33.33% - 30px);
  margin:0 15px 30px;
  perspective: 1000px; /*remove this if you dont want the 3d effect*/
}
.flip-main .flip-card-inner{
box-shadow: 0 0 10px #ffffff;
position: relative;
transform-style: preserve-3d;
transition: all 1s ease;
}
.flip-main .flip-card-front img{
width: 100%;
}
.flip-main .flip-card-front,
.flip-main .flip-card-back{
backface-visibility: hidden;
}
.flip-main .flip-card-back{
background-color: #6e0ec5;
position: absolute;
left:0;
top:0;
padding: 15px;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
transform: rotateY(180deg);
}
.flip-main .flip-card-back h3{
font-size: 24px;
color: #ffffff;
margin:0 0 5px;
}
.flip-main .flip-card-back p{
font-size: 16px;
color: #ffffff;
margin:0;
}
.flip-main .flip-card:hover .flip-card-inner{
 transform: rotateY(180deg);
}

/*responsive*/
@media(max-width: 991px){
.flip-main .flip-card {
  flex: 0 0 calc(50% - 30px);
}
}
@media(max-width: 767px){
.flip-main .flip-card {
  flex: 0 0 calc(100% - 30px);
}	
}
.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card,
.card-item {
  min-width: 280px;
  height: 450px;
}

.card-item {
  border-radius: 16px;
  box-shadow: -1rem 0 3rem #ddd;
}

.card-item:focus-within~.card-item, .card-item:hover~.card-item {
  transform: translateX(130px);
}

.card-item:hover {
  transform: translateY(-1rem);
}

.card-item:not(:first-child) {
  margin-left: -140px;
}

.card-item .card-body {
  margin-bottom: auto;
}

.card-item .card-body p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-item .card-body h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(90deg,#6a2ed2,#5809ad);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-item .card-body h2:hover {
  background: #7a7a8c;
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-author {
  margin: 1rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}

.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}

.author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}

.author-name {
  grid-area: auto;
  box-sizing: border-box;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #ccc;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg,#4a03a0,#5809ad);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-clip: text;
  border-color: white;
}

.card-intro {
  background-image: linear-gradient(0deg,#0f0e0d,#5809ad);
  position: relative;
  border-radius: 16px;
  padding: 2rem;
  margin: 0 4rem 0 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 0 0 320px;
}

.card-intro .card-body {
  margin-top: 250px;
}

.footer{
background-image: url("bolt-background.png") ;
  padding: 70px 0;
}
.footer-col{
 width: 25%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #8a1ee9;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}
.btn{
  background-color: #5c11b8;
  width: 250px;
  font-size: larger;
  padding: 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px 5px 5px 50px;
  
}
.MyGroups{
  display: flex;
  align-items: center;
}
.MyGroups h2{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #6e0ec5;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  padding: 25px;
  font-size: 150px;
}
html body div.container div.row div.MyGroups div.button{
  margin-left: 100px;
}
.add-button{
display: flex;
  justify-content: center;
}