body{ 
    background:linear-gradient(to bottom right, white, #bcbdc4);
    height:750px;
    }
    
     .main{
        position:absolute;
        width:100%;
        height:500px;
        background-image:url("linkedin-back.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        top:70px;
        left:0px;
        color:white;
        z-index:20;
        font-family:verdana;
         
     }
     .filter-purple {
        filter: invert(13%) sepia(98%) saturate(6809%) hue-rotate(273deg) brightness(94%) contrast(125%);
    }
      .logo{
          position: absolute;
          width: 70px;
          top: 40px;
          left:20px;
      }
     .box{
         position: absolute;
         right: 220px;
         top: 100;
         margin-top:20px;
         height:260px;
         width:350px;
         background:#efefef;
         padding-top:15px;
         padding-left:28px;
         padding-right:28px;
         padding-bottom:25px;
     }
     #info1{
         text-align:center;
         
         color:black;
         
         font-family:arial;
         font-size:20px;
     }
     
      #info2{
         text-align:left;
         
         color:#888889;
         
         font-family:arial;
         font-size:12px;
     }
     #info4{
         text-align:center;
         
         color:#888889;
         
         font-family:arial;
         font-size:12px;
     }
     
     .button2{ 
        width:350px; 
        height:35px; 
        background:#8000FF; 
        font-family:verdana;
        font-size:16px; 
        font-weight:bold; 
        color:black; 
        border-radius:5px 5px 5px 5px;
        border-width: 1px; 
        border-style:solid; 
        border-color: gray;
        cursor:pointer; outline:none; 
     }
     
     
      
     
    